# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database URL is used to connect to your Supabase database.
POSTGRES_URL="postgresql://postgres:postgres@localhost:5432/postgres"

ISBN_DB_API_KEY="123"

TRIGGER_SECRET_KEY="123"

OPENAI_API_KEY="sk-123"

AUTH_SECRET="123"

AUTH_RESEND_KEY="123"

SUPABASE_MEDIA_BUCKET="media"
SUPABASE_URL="http://localhost:54321"
NEXT_PUBLIC_SUPABASE_URL="http://localhost:54321"
SUPABASE_ANON_KEY="123"

NEXT_PUBLIC_POSTHOG_KEY=123