# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.


TRIGGER_SECRET_KEY="123"

AI_GATEWAY_API_KEY="vck_123"

AUTH_SECRET="123"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="<Your Cloud Name>"
CLOUDINARY_API_KEY="<Your API Key>"
CLOUDINARY_API_SECRET="<Your API Secret>"

NEXT_PUBLIC_POSTHOG_KEY=123

OTEL_EXPORTER_OTLP_HEADERS="x-api-key=123"
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT="http://localhost:4317"
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT="http://localhost:4317"

NEXT_PUBLIC_ROOT_DOMAIN="localhost:3000"

META_ACCESS_TOKEN="EAA"
WHATSAPP_PHONE_NUMBER_ID="806"
AIRTABLE_API_KEY=""
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""